.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  background-size: cover;
}

.love-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
}

.emoji-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.list-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 20px;
}

.image {
  height: 100px;
  width: 100px;
  margin: 10px;
}
